In [1]:
# importing libraries

import pandas as pd                # dataprocessing, handling tabular data
from scipy.io import arff 
import seaborn as sns              # plotting library, works with matplotlib
import matplotlib.pyplot as plt    # plotting library

In [10]:
# save to a format such as .pdf

def savefig(filename, crop = True):
    plt.savefig('{}.pdf'.format(filename))

In [ ]:
# standardize dataset

def preprocess(x):
    return (x - np.mean(x)) / np.std(x)

In [2]:
# loading .arff dataset

data = arff.loadarff('data/iris_arff.arff')
train= pd.DataFrame(data[0])
train.head()

   sepallength  sepalwidth  petallength  petalwidth           class
0          5.1         3.5          1.4         0.2  b'Iris-setosa'
1          4.9         3.0          1.4         0.2  b'Iris-setosa'
2          4.7         3.2          1.3         0.2  b'Iris-setosa'
3          4.6         3.1          1.5         0.2  b'Iris-setosa'
4          5.0         3.6          1.4         0.2  b'Iris-setosa'

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepallength  150 non-null    float64
 1   sepalwidth   150 non-null    float64
 2   petallength  150 non-null    float64
 3   petalwidth   150 non-null    float64
 4   class        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
catCols = [col for col in train.columns if train[col].dtype=="O"]
catCols[:5]

['class']

In [5]:
train[catCols]=train[catCols].apply(lambda x: x.str.decode('utf8'))
train.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [6]:
# convert .arff to .csv

train.to_csv('data/iris.csv',index=False)

In [7]:
# feature selection

In [8]:
# load data
data = pd.read_csv('data/iris.csv')
data = data.loc[0:150]

print(data.shape)

(150, 5)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepallength  150 non-null    float64
 1   sepalwidth   150 non-null    float64
 2   petallength  150 non-null    float64
 3   petalwidth   150 non-null    float64
 4   class        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
# feature selection with random forest random seed 1
X_trainA1, X_testA1, y_trainA1, y_testA1 = train_test_split(X_25F, y_25F, test_size = 0.30, \
                                                        random_state=1,stratify=y_25F)